<h1>New Task</h1>
<%= form_for [@list, @task] do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, required: true%>
  </div>

  <div>
    <%= f.label :comment %>
    <%= f.text_field :comment %>
  </div>
    <%= f.submit %>
  <% end %>